<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SupportTemplates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SupportTemplates.Properties.Settings>
            <setting name="InitialTBSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="InitialWidth" serializeAs="String">
                <value>945</value>
            </setting>
            <setting name="InitialHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="InitialSplitterDiff" serializeAs="String">
                <value>225</value>
            </setting>
        </SupportTemplates.Properties.Settings>
    </userSettings>
</configuration>