<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SupportTemplates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SupportTemplates.Properties.Settings>
            <setting name="InitialTBSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="InitialWidth" serializeAs="String">
                <value>945</value>
            </setting>
            <setting name="InitialHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="InitialSplitterDiff" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="InitialTBForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InitialTBBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InitialLBForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InitialLBBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InitialTBFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt</value>
            </setting>
            <setting name="InitialFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt</value>
            </setting>
            <setting name="InitialLBSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="InitialLBFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt</value>
            </setting>
            <setting name="InitialForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InitialBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultTemplate" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ABFrequency" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ABLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ABDate" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialDBSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="InitialDBForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InitialDBBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InitialDBFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt</value>
            </setting>
        </SupportTemplates.Properties.Settings>
    </userSettings>
</configuration>